.darkgreen{background-color: darkgreen; }

.register{margin: auto;width: 50%;padding:70px 0;border: 3px  solid grey;text-align: center;background-color: darkseagreen;}

 footer{position:fixed;left: 0;bottom: 0;width: 100%;background-color: darkseagreen;color: white;text-align: center;} 
